.container {
  margin: 0 auto;
  margin-top: 10vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 5rem;
  animation-name: title;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  margin-bottom: 2rem;
  line-height: 1;
  word-break: break-all;
}

@keyframes title {
  0% {
    transform: rotateZ(1deg);
  }

  50% {
    transform: rotateZ(-1deg);
  }

  100% {
    transform: rotateZ(1deg);
  }
}

.image {
  max-width: 100%;
  width: 50%;
  height: 50%;
  height: auto;
}

.image:hover {
  filter: invert(1);
  transition: filter 0.3s ease;
}

.text {
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  align-self: center;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .title {
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .text {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 8rem;
    width: 100%;
  }
  .img {
    width: 90%;
  }
}

@media only screen and (max-width: 769px) {
  .text {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .text {
    padding-right: 0;
    margin-bottom: 2rem;
  }
  .image {
    width: 100%;
    height: auto;
  }
}
