.container {
  width: 80%;
  margin: 0 auto;
}

.title{
  font-family: 'Karla', sans-serif;
  font-size: 8rem;
    /* transform: rotateX(180deg); */
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes title {
  0% {
    /* transform: rotateX(0deg); */
  }

  50% {
    /* transform: rotateX(180deg); */
    transform:rotateZ(-1deg);
  }

  100% {
    /* transform: rotateX(1deg) */
  }
}

.text {
  font-family: 'Karla', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  width: 50%
  /* animation-name: text;
  animation-duration: 5s;
  line-height: 1.5;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

/* @keyframes text {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
    font-size: 10rem;
  }

  100% {
    transform: rotateX(1deg)
  }
} */

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
  }
  .title{
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
      /* transform: rotateX(180deg); */
      animation-name: title;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }
  .text {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 8rem;
    width: 100%;
  }
}