.maincontainer {
  margin: 7.5rem 20rem;
  margin-top: 10vh;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr)); */
  /* grid-auto-rows: minmax(75px, auto); */
  grid-auto-flow: dense;
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: start; /* Alineación al inicio para manejar alturas variables */
  list-style-type: none;
  padding: 0;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 2.5rem; /* Removido las comillas */
  color: black; /* Removido las comillas */
  padding: 2rem 10rem 0 10rem;
  font-weight: normal; /* Removido las comillas */
}

/* Tamaño Variable de Tarjetas */
.conceptcard:nth-child(4n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}
.conceptcard:nth-child(4n + 2) {
  grid-column: span 1;
  grid-row: span 1;
}
.conceptcard:nth-child(4n + 3) {
  grid-column: span 1;
  grid-row: span 2;
}
.conceptcard:nth-child(4n + 4) {
  grid-column: span 2;
  grid-row: span 1;
}

.conceptcard {
  background-color: black;
  color: white;
  font-family: 'Karla', sans-serif;
  padding: 0.8rem;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  word-wrap: break-word;
}

.conceptName {
  font-size: 1rem;
  font-weight: normal;
}

.conceptName:hover {
  font-weight: bold;
}

.conceptcard:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Shadow with blur effect */
  transition: box-shadow 10s ease;
  color: black;
}

.conceptcard a {
  color: white;
  text-decoration: none;
}

.conceptcard a:hover {
  color: #dc143c;
  text-decoration: none;
}

/* Animaciones de entrada */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.conceptTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.conceptcard {
  animation: slideUp 0.5s ease-out;
}

.searchbar {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Karla', sans-serif;
  border: none;
}

.searchbar:focus {
  outline: none;
}


/* Tooltip */
/* .conceptcard:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
} */

/* Adaptaciones para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .maincontainer {
    margin: 0;
    margin-top: 10vh;
  }
  .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 0;
    width: 100%;
  }
  .conceptcard {
    grid-column: span 1;
    grid-row: span 1;
  }
  .searchbar {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 769px) {
  .maincontainer {
    margin-top: 1rem;
  }
  .title {
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .container {
    grid-template-columns: auto;
  }
}
