.container {
  display: flex;
  padding: 0 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  top: 0;
  z-index: 50;
  font-family: 'Karla', sans-serif;
}

.title {
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  color: black;
}

.title:hover {
  color: #dc143c;
}
