.container {
  padding: 2rem 10rem 20rem 10rem;
}

.cardcontainer {
  padding: 3rem 0;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 2.5rem;
  color: black;
}

.title:hover {
  color: #dc143c;
}

.excerpt {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.tags {
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: normal;
}

.singletag {
  background-color: black;
  color: white;
  margin: 0.5rem;
  padding: 0.2rem;
}