.featuredContainer {
  padding: 40vh 20vw;
  margin-bottom: 10rem;
  font-family: 'Karla', 'sans-serif';
}

.featuredContainer p {
  font-size: 1.1rem;
  margin: 0;
  background-color: black;
  width: fit-content;
  color: #fffff0;
  margin-bottom: 1rem;
}

.featuredContainer h2 {
  font-size: 4.5rem;
  color: #fffff0;
  background-color: black;
  width: fit-content;
}

h2:hover {
  color: #dc143c;
}

/* Excerpt */
.featuredContainer h4 {
  font-family: 'lora', serif;
  font-weight: normal;
  font-size: 1.1rem;
  margin: 0.8rem 0;
  color: #fffff0;
  background-color: black;
  padding: 0.5rem;
  width: fit-content;
  rotate: -0.5deg;
}

.featuredContainer h6 {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  color: #fffff0;
}

.featuredContainer h5 {
  font-family: 'lora', serif;
  font-weight: normal;
  font-size: 1.1rem;
  margin: 0.8rem 0;
  color: #fffff0;
  background-color: black;
  padding: 0.5rem;
  width: fit-content;
}
.featuredContainer h5 a {
  color: #fffff0;
  font-weight: bold;
}

/* Simple container */

.simpleContainer {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 5rem;
  font-family: 'Karla', sans-serif;
}

.simpleContainer h2 {
  color: black;
  font-size: 2rem;
}

.simpleContainer h2:hover {
  color: #dc143c;
}

.simpleContainer h4 {
  padding: 0 !important;
  margin: 0.5rem 0;
  font-family: 'lora', serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: black;
  padding: 0.5rem;
  width: fit-content;
}

.simpleContainer h6 {
  margin: 1rem 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  color: black;
  text-align: end;
}

.simpleContainer h5 {
  font-size: 1.2rem;
  text-align: end;
}

.simpleImage {
  width: 100%;
  background-size: cover;
  margin-bottom: 1rem;
}
.date {
  font-family: 'Karla', 'sans-serif';
  font-size: 1.1rem;
  margin: 0;
}

.featuredImage {
  position: absolute !important;
  filter: brightness(1.2);
  z-index: -100;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

.singleconcept {
  background-color: black;
  color: #fffff0;
  padding: 0.3rem;
}

.singleconcept:hover {
  color: #dc143c;
}

@media only screen and (max-width: 650px) {
  .featuredContainer {
    padding: 20vh 10vw;
    margin-bottom: 0;
  }
  .featuredContainer h2 {
    font-size: 2rem;
  }
  .container {
    padding: 1rem 0.5rem 0 0.5rem;
  }
  .cardcontainer {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 376px) {
  .singleconcept {
    line-height: 2rem;
  }
  .simpleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .simpleImage {
    margin: 0;
  }
}
