.container {
  padding: 0 10rem 12rem 10rem;
}

.cardcontainer {
  padding: 3rem 0;
}

.date {
  font-family: "Karla", "sans-serif";
  font-size: 1.1rem;
  margin: 0;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 2.5rem;
  color: black;
  word-wrap: break-word;
}

.excerpt {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.author {
  font-family: "Karla", "sans-serif";
  font-size: 1.1rem;
  margin: 0.8rem 0;
  color: rgb(30, 30, 30);
}

.concepts {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

.singleconcept {
  background-color: black;
  color: white;
  margin-right: 0.5rem;
  padding: 0.3rem;
}

.singleconcept:hover {
  color:#dc143c;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem 0.5rem 5rem 0.5rem;
  }
  .cardcontainer {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 376px) {
  .singleconcept {
    line-height: 2rem;
  }
}
