.container {
  width: 80%;
  margin: 0 auto;
}

.infocontainer {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 7rem;
  /* transform: rotateX(180deg); */
  /* animation-name: title;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
  font-family: 'Karla', sans-serif;
  margin: 0;
  margin-bottom: 0.5rem;
  word-break: break-word;
}

/* @keyframes title {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg)
  }

  100% {
    transform: rotateX(1deg)
  }
} */

.author {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  text-align: end;
}

.date {
  text-align: end;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
}

.featuredimage {
  margin-bottom: 2rem;
}

.disqus {
  margin: 0 auto;
  margin-top: 10rem;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .infocontainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .title {
    font-size: 3rem;
    /* transform: rotateX(180deg); */
    /* animation-name: title;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
    font-family: 'Karla', sans-serif;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .featuredimage {
    margin-bottom: 2.5rem;
  }
  .disqus {
    margin: 0 auto;
    margin-top: 10rem;
    width: 90%;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 769px) {
  .container {
    width: 100%;
  }
}
