.container {
  font-family: 'Karla', sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 3.2rem;
}

.link {
  color: black;
}

.link:hover {
  color: #dc143c;
}

@media only screen and (max-width: 600px) {
  .container {
    display: none;
  }
}
